* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.logo-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#header-img {
    width: 80px;
    cursor: pointer;
    margin-right: 10px;
}

.logo-content p {
    font-size: 2rem;
    font-weight: bold;
}

.logo-content p span {
    color: rgb(117, 75, 1);
}

#nav-bar {
    flex: 3;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#home {
    height: 80vh;
    width: 100%;

}

.home-container {
    position: relative;
    background-image: url("https://img.freepik.com/free-photo/travel-still-life-pack-flat-lay_23-2148837357.jpg?w=1060&t=st=1690880873~exp=1690881473~hmac=75e0b6fac35dabb18b13158f946ad88bb943f0aa8d60495f3b4f58303845d892");
    background-size: cover;
    z-index: -1;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: -2;
}

.hero {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.form-section {
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.form-section input {
    margin: 10px;
}

#email {
    border-radius: 10px;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.725);
    padding: 5px;
}

#get-started-btn {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 8px;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
    background-color: gray;
    cursor: pointer;
}

.hero p {
    font-size: 2rem;
    color: white;
}

.home-container::before {
    content: "";

}

section {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 2rem;
}

#features ul {
    width: 80%;
    list-style: none;
}

#features li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#features li i {
    color: rgb(255, 98, 0);
    margin-right: 70px;
    font-size: 2.6rem;
    width: 3rem;
}

#features li i:nth-child(even) {
    color: rgb(0, 85, 255);
}

.desc {
    padding: 10px;
    width: 90%;
}

.top-products {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.product-image:hover {
    transition: 0.1s;
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px px 2px rgba(0, 0, 0, 0.596);
}

.product-name {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(63, 35, 0);
    border-radius: 10px 10px 0 0;
    color: antiquewhite;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product p {
    background-color: white;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#how-it-is-made p {
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#how-it-is-made iframe {
    border-radius: 10px;
    width: 480px;
    height: 270px;
    margin: 10px;
}

#how-it-is-made .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.product-pricing {
    display: flex;
    flex-direction: row;
    padding-bottom: 20vh;
    flex-wrap: wrap;
    justify-content: center;
}

.product-pricing-detail {
    width: 20%;
    margin: 10px;
    border-radius: 5px;
}

.product-name-pricing {
    font-size: 1.02rem;
    font-weight: bold;
    background-color: rgb(63, 35, 0);
    border-radius: 5px 5px 0 0;
    color: antiquewhite;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.product-detail{
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.select-button{
    width: 100%;   
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.select-button button{
    border: none;
    padding: 10px;
    width: 50%;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    color: white;
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    background-color: rgb(48, 48, 48);
    padding: 10px;
    height: 20vh;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

footer a{
    color: white;
    text-decoration: underline;
    margin: 10px;
}
footer p{
    flex: 3;
    text-align: right;
    color: white;
}

.fa-bars{
    position: absolute;
    right: 6%;
    display: none;
}

@media screen and (max-width: 760px) {
    #header-img {
        width: 50px;
        cursor: pointer;
        margin-right: 5px;
    }

    #nav-bar{
        transition: 1s;
        display: none;
        position: absolute;
        right: 0;
        top: 10vh;
        height: 70vh;
        background-color: rgb(0, 0, 0);
        width: 70%;
    }

    .nav-link{
        color: antiquewhite;
    }

    .home-container{
        background-position: center;
    }

    #nav-bar ul{
        display: flex;
        flex-direction: column;
    }

    #nav-bar a{
        border: none;
        /* padding-bottom: 100px; */
    }

    #nav-bar li{
        margin-bottom: 40px;
    }
    .fa-bars{
        display: block;
        margin-right: 10px;
    }

    .fa-bars:hover{
        cursor: pointer;
    }


    .logo-content p{
        font-size: 1.2rem;
    }
    
    .hero p{
        font-size: 1.2rem;
    } 
    
    /* .product-image{
        height: 30px;
        width: 10px;
    } */
    .product{
        width: 70%;
        height: 80vh;
    }

    .product-pricing-detail{
        width: 70%;
    }
    .product-pricing{
        display: flex;
        justify-content: center;
    }

    .form-section{
        width: 100%;
    }

    #email{
        width: 90%;
    }
    #get-started-btn{
        font-size: 0.7rem;
    }

    footer{
        height: 15vh;
    }

    footer a, footer p{
        font-size: 0.7rem;
    }

    header{
        height: 10vh;
    }

}

/* #home, #features, #products, #how-it-is-made, #pricing */